.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.headerComponentLeft {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}
.headerComponentRight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
}
